/* BASIC STYLES HERE */
body {
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(17, 65, 28); */
}

.text-shadow {
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
}

.course-card {
  box-shadow: 5px 5px 5px rgb(8, 72, 28);
  border: 3px solid black;
  background-color: rgb(114, 187, 232);
  /* height: 250px; */
}

.comment-card {
  border-width: .2em;
  border-style: solid;
  max-width: 30vw;
}
